body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background-color: #222;
/* background: url('../images/reel-icon.jpg'); */
  background-position: center; 
  background-attachment: fixed;
  background-size: cover;
  min-width: 300px;
	  overflow: scroll;
  scroll-snap-type: y mandatory;
}
.header {
  -moz-animation:gm-slidein 3s 1;
    -ms-animation:gm-slidein 3s 1;
    -o-animation:gm-slidein 3s 1;
    -webkit-animation:gm-slidein 3s 1;
    animation:gm-slidein 3s 1;
    text-align:center;
    z-index: 100;
}
h1 {
  position: relative;
  padding: 0 10px 0;
  font-size: 36px!important; 
  letter-spacing: 3px;
  color: #fff;
  font-family: Oswald, sans-serif;
  text-align: center;
  line-height: 34px!important; 
}

h1 span {
  font-family: Helvetica, sans-serif;
  letter-spacing: 0;
  font-weight: 300;
  font-size: 18px;


}

h1 span a {
  color: #fff;
}

@keyframes gm-slidein {
    from {
        -webkit-transform:translate3d(0,-300%,0);
        opacity:0;
        transform:translate3d(0,-300%,0);
    }
	
    to {
        -webkit-transform:none;
        opacity:1;
        transform:none;
    }
}

.background-wrapper {
	scroll-snap-align: start; 
	width: 100%;
	background-color: #000;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}
.background-wrapper:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-image:  url('http://dupontcours.free.fr/IMG/dots.png'), url('#');
	background-repeat:   repeat, no-repeat;
	background-size:    3px, cover;
	background-position:   center center, top left;
	opacity: .3;
	top: 0;
	left: 0;
	z-index: 10;
}
.background-wrapper > iframe {
	box-sizing: border-box;
	height: 110vw;
	left: 50%;
	min-height: 110%;
	min-width: 100%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	width: 200vh;
	z-index: 0;
}
.background-wrapper h1,
.background-wrapper h3 {
	z-index: 100;
	position: relative;
	margin: 10px 20px;
}
.background-wrapper h1 {
	font-size: 4rem;
	line-height: 1.3;
}
.background-wrapper h3 {
	font-size: 1.3rem;
}
.content-wrapper {
	scroll-snap-align: start; 
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
	padding: 70px 10%;
	max-width: 750px;
	margin: 0 auto;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}
.social {
	z-index: 100;
    color: #2c2c2c;
    font-family: 'quicksand', Arial, sans-serif;
    padding: 10px;
    position: relative;
    text-align: center;
}
.social p {margin: 0; font-size: 16px;display: block;}
.social a,
.social a:visited {padding: 4px; color: #fdf1d5; text-decoration: none;}
.social a:hover { color: #ffffff; }
}
